<body>
    <div id ="blank"><div id="header">Comment</div><hr></div>
    <div class=" box">
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group">
                <textarea  class="textbox" placeholder="Leave a comment" formControlName="comment" [ngClass]="{ 'is-invalid': submitted && commentForm.controls['comment'].errors }"> </textarea>
                <div class="invalid-feedback" *ngIf="submitted && commentForm.controls['comment'].errors">
                    Comment is required
                    
                </div>
            </div>
            <div class="form-group">
                <button type="submit">Post</button>
            </div>
        </form>
    </div>
    <div *ngIf="!empty">
        <div  *ngFor="let post of commentInfo;let i = index;">
            <div class="combox">
                <p id="contend">{{post.commentTxt}}</p>
                <div class="actions">
                    <span>{{post.currentDate | date: 'dd/MM/yyyy'}}</span>
                    <div class="divide"></div>
                    <button  (click)="removeComment(i)" >remove</button>
                </div>
            </div>
        </div>
    </div>

</body>
        
