<h1>ABOUT:</h1>
<h2>Our website is about the information of the Rocket.</h2>
<h3>we have a 3D map of rocket division around the world. In the Map Page, you can place points to mark on the map. Also, you can use the filter to locate the satellites and rockets you want.</h3>  
<h4> In the POTD page, we have a function that shows a picture and a quote. You can check the picture and the past pictures which were supplied by NASA’s API.</h4>
  
<p>Tech Stack</p>
<p>Front End:</p>
<p>●Angular

    ●Typescript
    
    ●SCSS
    </p>
<p>Workflow:</p>
<p>●Trello

    ●Git / Github
    
    ●Discord
    </p>