ul {
    list-style-type: none;
    background-color: #0B3D91;
    overflow: hidden;
    padding-left: 0;
    border-radius: 30px;
    margin: 10px;
}

li {
    float: left;
    border-right: 1px solid white;
    width: 19.95%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li:last-child, li:first-child {
    border-right: none;
}

li:hover {
    background-color: #3131c5;
}

#projectName {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    font-size: 1.25em;
}

@media only screen and (max-width: 1010px) {
    #projectName {
        display: none;
    } 
    
    li {
        width: 24.8%;
    }  
}

@media only screen and (max-width: 774px) {
    li a {
          font-size: 0.75em;
    }
}

@media only screen and (max-width: 534px) {
    ul {
        width: 60%;
        margin: 10px auto 10px auto;
    } 
    
    li {
        float: none;
        width: 100%;
        border-bottom: 1px solid white;
        border-right: none;
    }

    li a {
        font-size: 0.85em;
    }
}
