<!--
<p>map works!</p>


<app-filter></app-filter>


<tr *ngFor = "let launchpad of launchpads">
    <td>{{launchpad.name + ", " + launchpad.latitude + ", " + launchpad.longitude + ": "+launchpad.launches}}</td>

</tr>


<h2 *ngIf = "launch != undefined" >{{launch.name}}</h2>

<tr *ngFor = "let starlink of starlinks">
    <p>{{starlink.id + ", " + starlink.latitude + ", " + starlink.longitude}}</p>

</tr>

<h3>?????</h3>
<tr *ngFor = "let l of observatory_Locations">
   
    <td>{{l.latitude + " ++++++AND++++++ " + l.longitude }}</td>

</tr>
-->

<div id="viewDiv"></div>