<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <meta name="keywords" content="Space, launch, stellite">
        <meta name="author" content="Peiyi Wu">
        <meta http-equiv="refresh" content="30">
        <style>
#grad1 {
    height:1400px;
    background-image: linear-gradient(#3379e9, #1e0c49);
}
</style>
        <title>Space-Ship-Seeker-Homepage</title>
        </head>
    <body id="grad1">
        
        
        <p style="color:rgba(255, 255, 255, 0.911)">
        Welcom to Space-Ship-Seeker
        </p>
        
    </body>    
</html>  
