ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    width: 11.9%;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

form input {
    font-size: 1.5em;
    padding: 0 15px;
    display: block;
    margin: auto;
}

figcaption {
    color: rgb(246, 246, 246);
    font-style: Verdana;
    font-size: 0.75em;
    padding: 2px;
}

li figure {
    margin: 5px 2px;
}

li figure img {
    max-height: 100px;
    width: 100%;
}

#earth {
    display: block;
    margin: 0 auto;
    width: 30%;
    min-width: 400px;
}

#potd {
    display: block;
    margin: 0 auto 10px auto;
    max-height: 500px;
}

#goCaption1 {
    text-align: center;
    color: rgb(246, 240, 240);
    font-size: 1.5em;
    margin-top: -0.5em;
}

#goCaption2 {
    text-align: center;
    color: rgb(246, 240, 240);
    font-size: 2.5em;
    margin: -0.25em 0 -0.25em 0;
    font-weight: bold;
}

#goCaption3 {
    text-align: center;
    color: rgb(246, 240, 240);
    font-size: 1.5em;
}

#page {
    height: 250%;
    background-color: rgb(224, 217, 217);
}

#top {
    background-color: black;
    width: 100%; 
    height: 46%;
}

#middle {
    background-color: whitesmoke;
    width: 100%; 
    height: 11%;
}

#bottom {
    background-color: whitesmoke;;
    width: 100%; 
    height: 38%;
}

#timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-top: -0.4em;
}

#timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
}

#toMap {
    background-color: rgb(97, 243, 40);
    border: 2px solid white;
    font-size: 2em;
    margin-top: 0.5em;
}

#toMap:hover {
    background-color: rgb(64, 202, 64);
}

#toPOTD {
    font-size: 1.75em;
    margin-top: 1em;
}

#potd {
    border: 4px solid #0B3D91;;
}