ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    width: 11.9%;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
h3{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
form input {
    font-size: 1.5em;
    padding: 0 15px;
    display: block;
    margin: auto;
}

figcaption {
    color: rgb(246, 246, 246);
    font-style: Verdana;
    font-size: 0.75em;
    padding: 2px;
}

li figure {
    margin: 5px 2px;
}

li figure img {
    max-height: 100px;
    width: 100%;
}

#earth {
    display: block;
    margin: 0 auto;
    width: 30%;
    min-width: 400px;
}

#potd {
    display: block;
    margin: 0 auto 10px auto;
    max-height: 500px;
}

#goCaption {
    text-align: center;
    color: rgb(246, 240, 240);
    font-size: 1.5em;
    margin: -0.4em 0 1em 0;
}


#goCaption2 {
    text-align: center;
    color: rgb(246, 240, 240);
    font-size: 2.3em;
    margin: -0.4em 0 1em 0;
}

#page {
    height: 300%;
    background-color: rgb(224, 217, 217);
}

#top {
    background-color: black;
    width: 100%; 
    height: 35%;
}

#middle {
    background-color: whitesmoke;
    width: 100%; 
    height: 15%;
}

#bottom {
    background-color: whitesmoke;;
    width: 100%; 
    height: 33%;
}
#bottom1 {
    width: 100%;
    height: 40%;
}

.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
}


.timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
  }
