<div id="page">
    <div id="top">
        <ul>
            <li>
                <figure>
                    <img src="../../assets/voyager-400w.jpg">
                    <figcaption>Flyby spacecraft</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="../../assets/galileo-400w.jpg">
                    <figcaption>Orbiter spacecraft</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="../../assets/huygens-400x302.jpg">
                    <figcaption>Atmospheric spacecraft</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="../../assets/mars-pathfinder-400s.jpg">
                    <figcaption>Lander spacecraft</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="../../assets/Deep-Space-2-400px.png">
                    <figcaption>Penetrator spacecraft</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="../../assets/rover2.jpg">
                    <figcaption>Rover spacecraft</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="../../assets/spitzer-400x300.jpg">
                    <figcaption>Observatory spacecraft</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="../../assets/TDRSS-4x3.jpg">
                    <figcaption>Communications & Navigation spacecraft</figcaption>
                </figure>
            </li>
        </ul>
        <img id="earth" src="../../assets/earth.jpg">
        <p id="goCaption1">Find the locations of</p>
        <p id="goCaption2">Spaceships and Satellites</p> 
        <p id="goCaption3">with our interactive 3D map</p>
        <form action="/map">
            <input id="toMap" type="submit" value="Go!"/>
        </form>
    </div>
    <div id="middle">
            <div id="timer">
                <h1> Countdown to the next SpaceX launch</h1>
                <span> {{days}} </span>days
                <span> {{hours}} </span>hours
                <span> {{minutes}} </span>minutes
                <span> {{seconds}} </span>seconds               
            </div>
    </div>
    <div id="bottom">
        <div *ngIf="potd != undefined;">
            <h1>Picture of the Day preview</h1>
            <img *ngIf="potd.media_type == 'image'; else videoBlock" src="{{potd.url}}" id="potd">
            <ng-template #videoBlock>
                <iframe allow="fullscreen" [src]="POTDVidUrl"></iframe>
            </ng-template>
            <form action="/potd">
                <input id="toPOTD" type="submit" value="See more!"/>
            </form>
        </div>
    </div>
<div>

 